<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "net.kcrt.med"
	versionCode="5" 
	version   = "0.4.1">

	<preference name="phonegap-version" value="2.9.0" />

	<name>医療計算機</name>

	<description>
		医学的計算を行うアプリケーションです。
	</description>

	<author href="http://profile.kcrt.net/">kcrt (TAKAHASHI, Kyohei) </author>

	<icon src="favicon256.png" />

	<gap:splash src="startup_320x460.png" width="320" height="480" />
	<!--<gap:splash src="" width="640" height="960" />
	<gap:splash src="" width="1024" height="768" />
	<gap:splash src="" width="768" height="1024" />-->
	<gap:splash src="startup_768x1004.png" gap:platform="android" />


</widget>
