<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "net.kcrt.med"
	versionCode="3" 
	version   = "0.3.0">

	<!-- versionCode is optional and Android only -->

	<name>医療計算機</name>

	<description>
		医学的計算を行うアプリケーションです。
	</description>

	<author href="http://profile.kcrt.net/">kcrt (TAKAHASHI, Kyohei) </author>

	<icon src="favicon256.png" />
	<gap:splash src="favicon256.png" width="256" height="256" />


</widget>
